.cabecalho {
  background: #17171A;
  text-align: center;
  padding-top: 40px;
}

.logo {

display: inline;
width: 170px;
height: 51px;
font-family: 'Space Grotesk';
font-size: 35px;
line-height: 100%;
letter-spacing: 0%;
color: #E07B67;

}

.logo .destaque {
color: #FFFFFF;
}

.texto-pesquisa {
  width: 64%;
  height: 40px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #AFABB6;
  border: 2px solid #252528;
  background: #202024;
  border-radius: 4px;
  margin: 20px auto 20px auto;
  padding-left: 24px;
}

.texto-pesquisa::placeholder {
  font-family: Inter;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.pesquisa {
  padding-bottom: 32px;
  padding-top: 32px;
}