#cards-navegacao {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
}

.data {
  width: 123px;
  height: 19px;
  font-family: Inter;
  font-weight: 500px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #E07B67;
  padding-top: 10px;
  padding-bottom: 10px;

}

.card-principal{
  width: 75%;
  padding: 40px;
  border: 2px solid #252529;
  border-radius: 4px;
  margin: 20px auto 40px auto;
  background: #17171A;
}

.conteudo {
  width: 100%;
  margin: 0px;
  text-align: justify;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #AFABB6;

}

.titulo {
  width: auto;
  height: 31px;
  display: inline-block;
  font-family: "Space Grotesk";
  font-weight: 500px;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 20px;
  padding-bottom: 20px;

}

.card-principal:hover {
  border-color: #E07B67;
}