.animaModal {
  opacity: 0;
  transform: translateZ(-40px);
  animation: animaModal .8s forwards;
}

@keyframes animaModal {
  to {
    opacity: 1;
    transform: initial;
  }
}

.animaCabecalho {
  opacity: 0;
  transform: translateY(-40px);
  animation: animaCabecalho 0.3s forwards;
}

@keyframes animaCabecalho {
  to {
    opacity: 1;
    transform: initial;
  }
}

.animaCard {
  opacity: 0;
  transform: translateX(-40px);
  animation: animaCard .8s forwards;
}

@keyframes animaCard {
  to {
    opacity: 1;
    transform: initial;
  }
}

.cabecalho {
  background: #17171A;
  text-align: center;
  padding-top: 40px;
}

#cards-navegacao {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
}